SECRET_KEY=''
DATABASE_URI='sqlite:////tmp/test.db'
TIMEZONE='American/Edmonton'
LOCALE='en_US.utf8'
COUNTRY_CODE='CA'
CURRENCY_CODE='CAD'
CURRENCY_SYMBOL='$'
ACCOUNT_TOP_UP='500,1000,2000,3000,5000'

SMS_SERVICE='twilio'
