configobj==5.0.6
Flask==1.0.2
Flask-Login==0.4.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
phonenumbers==8.9.10
pycountry==18.5.26
six==1.11.0
SQLAlchemy==1.2.9
Werkzeug==0.14.1
WTForms==2.2.1
