{% extends "layout/sidebar_right.html" %}
{% block body %}
{% if phone_numbers %}
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Phone Number</th>
            <th>Nickname</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for phone in phone_numbers %}
        <tr>
            <td>{{ phone.number|phone }}</td>
            <td>{{ phone.nickname or '' }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('frontend.phone_numbers_remove', id=phone.id) }}" class="btn btn-confirm btn-xs btn-default">Remove</a>
                    <a href="{{ url_for('frontend.phone_numbers_edit', id=phone.id) }}" class="btn btn-xs btn-primary">Edit</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No phone numbers registered. You can add one <a href="{{ url_for('frontend.phone_numbers_add') }}">here</a>.</p>
{% endif %}
{% endblock %}






